/*normal font*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

/*bold font*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.button{
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
}

.button-big{
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
}

.button-small{
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}

.page-header{
  color: #000000;
  background-color: #ffffff;
}

.navigation-link{
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
}

.header-icon-number{
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
}

.main-index{
  color: #000000;
  background-color: #ffffff;
  background-image: url('/images/welcome-background.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.reasons{
  text-align: center;
  background-color: #ffffff;
}

.intro-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.reasons-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.reasons-description{
  font-size: 18px;
  line-height: 21px;
}

.interested{
  text-align: center;
}

.interested-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe{
  text-align: center;
  color: #ffffff;
  background-image: url('/images/subscribe-background.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.page-footer{
  color: #000000;
  background-color: #ffffff;
}

.button-socials{
  color: #000000;
  text-decoration: none;
}

.phone{
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.bg-basic{
  color: #ffffff;
  background-color: #82B3D3;
}

.bg-sec-1{
  background-color: rgba(131, 179, 211, 0.12);
}

.bg-sec-2{
  background-color: rgba(131, 179, 211, 0.2);
}

.subscribe-button{
  background-color: #82B3D3;
}

.inner-header-form{
  color: #ffffff;
  background-image: url("/images/filter-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title{
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-align: left;
}

.breadcrumbs{
  font-size: 16px;
  line-height: 21px;
  text-align: left;
  color: #ffffff;

}

.breadcrumbs-link{
  color: inherit;
  text-decoration: none;
}

.catalog-filter-title{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.control{
  font-size: 18px;
  line-height: 23px;
}

.select-control{
  font-size: 18px;
  line-height: 21px;
}

.catalog-filter-scale{
  font-size: 18px;
  line-height: 24px;
  text-align: right;
}

.button-filter{
  background-color: #82B3D3;
}

.button-reset{
  background-color: rgba(0,0,0,0);
}

.search-results-header h2{
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}

.button-light{
  color: ##333333;
  background-color: #ffffff;
}

.hotels-card-link{
  color: #000000;
  text-decoration: none;
}

.hotels-card-title{
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
}

.hotels-card-group{
  font-size: 18px;
  line-height: 21px;
  text-align: left;
  color: #333333;
}

.hotels-card-price{
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}

.hotels-card-raiting{
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-next{
  color: #000000;
  background-color:#ffffff;
}

.button-favorite{
  background-color: #82B3D3;
}

.button-favorite-active{
  background-color: #7DB54F;
}
